*
    padding: 0
    margin: 0

body
    font-family: 'Roboto', sans-serif

.container
    width: 1140px
    margin: 0 auto

.header
    min-height: 803px
    padding: 77px 0 96px 0

.wrapper
    display: flex

.descr
    padding-top: 60px 
    padding-left: 74px
    &__title
        color: #000000
        font-size: 48px
        font-weight: 700
    &__subtitle
        margin-top: 15px
        color: #000000
        font-size: 30px
        font-weight: 400
    p 
        margin-top: 35px
        color: #000000
        font-size: 18px
        font-weight: 400
        line-height: 27px
    span
        display: block
        margin-top: 47px
        color: #313131
        font-size: 48px
        font-weight: 400
        line-height: 27px

.btn
    display: flex
    margin-top: 53px
    &__orange
        width: 175px
        height: 67px
        border-radius: 5px
        background-color: #f05a22
        color: #ffffff
        font-size: 24px
        font-weight: 700
        border: none
    &__white
        margin-left: 40px
        width: 287px
        height: 67px
        border-radius: 5px
        border: 2px solid #f05a22
        color: #f05a22
        font-size: 24px
        font-weight: 700
        line-height: 27px

.main
    max-height: 408px
    background-color: #f2f2f2
    padding: 89px 0 100px 0

.title
    color: #333333
    font-size: 30px
    font-weight: 700
    text-align: center

.wrapper
    margin-top: 91px
    display: flex
    justify-content: space-between

.item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &__descr
        text-align: center
        margin-top: 16px
        color: #333333
        font-size: 18px
        font-weight: 400
        line-height: 22px
        width: 241px

.people
    padding: 89px 0 111px 0
    &__grid
        display: grid
        grid-template-rows: 1fr 1fr 
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: 31px
        margin-top: 69px